.inner {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table thead {
    background-color: #ee8ea1;
    color: #fff;
    text-transform: uppercase;
}

table th,
table td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* table tbody tr:nth-child(odd) {
    background-color: #fcf1f3;
} */

table tbody tr:hover {
    background-color: #fcf1f3;
}

button {
    background-color: #ffc0cb;
    color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e52e71;
    color: #fff;
}

form {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #ee8ea1;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #e52e71;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    background-color: #ffc0cb;
    color: black;
    padding: 10px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-button:hover {
    background-color: #e52e71;
}

.page-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.page-button.active {
    background-color: #fb99a9;
    cursor: default;
}

