* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
}

body {
    font-family: 'Times New Roman', Times, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: sticky; 
    top: 0;
    background-color: #fbeaee; 
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 1em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
    margin: 0;
    white-space: nowrap;
    align-items: center;
}

nav ul li {
    font-size: 1em;
    line-height: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: sans-serif;
    
}

nav ul li a:hover {
    color: #DB4667;
}

.welcome-btn {
    position: relative;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    font-family: sans-serif;
}

.logined-btn:hover { 
    background-color: #e5d8d2;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f8ece6;
    min-width: 190px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
    
}

.dropdown-content a {
    color: #333;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    font-family: sans-serif;
    font-size: 0.8em;
}

.dropdown-content a:hover {
    background-color: #ee8ea1;
    color: #fff;
}

.welcome-btn:hover .dropdown-content {
    display: block;
}

.lowerheader {
    position: relative;
    min-height: 20vh;
    background: linear-gradient(135deg, #f8a4b2, #db4456);
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.logo-container {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease; /* Thêm hiệu ứng chuyển động */
    cursor: pointer; /* Thay đổi con trỏ thành hình bàn tay khi di chuột */
 
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.logo-container a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none; /* Bỏ gạch chân */
}

.lowerheader-inner {
    min-height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lowerheader-textbox {
    flex: 1;
    padding-right: 20px;
}

.lowerheader-inner h1 {
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-top: -15px;
    margin-bottom: 10px;
}

.lowerheader-inner h5 {
    font-size: 30px;
    font-style: italic;
    margin: 5px 0;
}

.lowerheader-inner p {
    max-width: 90%;
    font-size: 14px;
    padding-top: 10px;
    margin: 0;
    text-align: justify;
}

.image-container {
    flex: 0 0 30%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.image-container img {
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.lowerheader-logo {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-style: italic;
    margin-bottom: 10px;
}


.inner {
    flex-grow: 1;
    padding: 2em;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.inner h3, .inner p {
    margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
}

.product-item {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    color: #333;
    transition: transform 0.3s ease;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    row-gap: 1em;
    justify-content: space-between; 
    
}

.product-item img {
    max-width: 90%;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 1em;
    height: 170px;
}
.product-item:hover {
    transform: scale(1.05);
}

button {
    padding: 0.6em 0.9em;
    background-color: #ee8ea1;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e52e71;
}

.pagination {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.pagination button {
    padding: 0.8em 1.2em;
    background-color: #ffc0cb;
    color: #000;
    border: none;
    border-radius: 6px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}

.pagination button:hover {
    background-color: #f8a4b2;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 1em;
}

.welcome-btn {
    color: #000;
    padding: 0.8em 1.5em;
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.3s ease;
}

.welcome-btn:hover {
    color: #db4667; 
}

.product-img {
    width: 350px;
    height: 350px;
    object-fit: cover; 
    border-radius: 8px;
}

.product-detail-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
}

.product-image {
    flex-basis: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    width: 100%;
    max-width: 400px;
    height: 400px;
    object-fit: cover; 
    border-radius: 8px;
}

.product-info {
    flex-basis: 55%; 
    text-align: left;
}

.product-info h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    color: #e52e71;
    margin-bottom: 1em;
}

.description {
    margin-bottom: 1.5em;
    font-size: 1.2em;
    line-height: 1.6;
}


.actions {
    display: flex;
    gap: 1em;
}

.actions button {
    padding: 0.8em 1.5em;
    background-color: #ee8ea1;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.actions button:hover {
    background-color: #e52e71;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.search-form input[type="text"] {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.search-form button {
    background-color: #ee8ea1;
    color: white;
    border: none;
    padding: 2px 6px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.search-form button:hover {
    background-color: #DB4667;
}

.cart-btn {
    text-decoration: none;
    color: #000;
    padding: 0.8em 1.5em;
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.3s ease;
    font-family: sans-serif;
}

.cart-btn:hover {
    color: #e52e71; 
}

advanced-search {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.advanced-search .search-form select {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 13px;
}

.advanced-search .search-form button {
    background-color: #ee8ea1;
    color: white;
    border: none;
    padding: 4px 8px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.advanced-search .search-form button:hover {
    background-color: #DB4667;
}
.product-actions {
    display: flex;
    gap: 10px;
}

.edit-btn, .delete-btn {
    background-color: #f6d9f2;
    border: none;
    padding: 10px;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #e6b8e2;
}

.delete-btn {
    background-color: #ffcccc;
}

.delete-btn:hover {
    background-color: #ff9999;
}
