.cart-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}
.cart-container h2 {
    font-size: 1.8em;
    margin-bottom: 40px;
}
.cart-history {
    width: 100%; 
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 1.5em;
    font-size: 1em;
    background-color: #fffce1;
    margin-bottom: 40px;
}

.cart-history th,
.cart-history td {
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
    border: 1px solid #ddd;
}

.cart-history th {
    background-color: #ee8ea1;
    color: white;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

.cart-history tbody tr:hover {
    background-color: #fefbda;
}

.details-btn {
    padding: 6px 12px;
    background-color: #ee8ea1;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.details-btn:hover {
    background-color: #e52e71;
   
}

.cart-history ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}

.cart-history ul li {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.cart-history ul li img {
    width: 40px; 
    height: 40px;
    border-radius: 5px; 
    margin-right: 10px; 
}

.cart-history ul li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 200px; /* Giới hạn chiều rộng tên sản phẩm */
    vertical-align: middle;
}
