.container {
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 12px;
    background-color: #fbeaee;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 40px;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    text-decoration: underline;
    margin-bottom: 20px;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
}
table th, table td {
    border: 1px solid #ddd;   
    padding: 8px;
    text-align: left;
}
table th {
    background-color: #ee8ea1;
    color: white;
}
table td{
    background-color: white;
}
.highlight {
    font-weight: bold;
    color: #57c455;
}
.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.total {
    text-align: right; /* Căn phải */
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #ddd; /* Viền trên để phân tách */
}


.details-btn {
    padding: 4px 8px;
    background-color: #ee8ea1;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.details-btn:hover {
    background-color: #e52e71;
   
}

.status {
    font-weight: bold;
}

.status.pending {
    color: #ff9800;  /* "Chưa xử lý" */
}

.status.confirmed {
    color: #2196f3;
     /*  "Đã xác nhận" */
}

.status.delivered {
    color: #4caf50; /* "Đã giao thành công" */
}

.status.cancelled {
    color: #040404;  /* Màu đỏ cho trạng thái "Đã hủy" */
}