.cart-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}

.cart-container h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.cart-history {
    width: 100%; 
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 1.5em;
    font-size: 1em;
    background-color: white;
    margin-bottom: 40px;
}

.cart-history th,
.cart-history td {
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
    border: 1px solid #ddd;
}

.cart-history th {
    background-color: #ee8ea1;
    color: white;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

.cart-history tbody tr:hover {
    background-color: #f1f1f1;
}

.details-btn {
    padding: 6px 12px;
    background-color: #ee8ea1;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.details-btn:hover {
    background-color: #e52e71;
}

.status {
    font-weight: bold;
}

.status.pending {
    color: #ff9800;  /* "Chưa xử lý" */
}

.status.confirmed {
    color: #2196f3;
     /*  "Đã xác nhận" */
}

.status.delivered {
    color: #4caf50; /* "Đã giao thành công" */
}

.status.cancelled {
    color: #040404;  /* Màu đỏ cho trạng thái "Đã hủy" */
}
