/* General Form Styles */
.order-form {
    background-color: #fbeaee;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}

.order-form h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #db4456;
    text-align: center;
    margin-top: 5px;
}


.input-group, .form-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 100%;
}

.order-form label {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 8px;
    color: #444;
    display: block;
}

.order-form input,
.order-form select,
.order-form textarea {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}



/* Address section radio buttons alignment */
.address-section h2 {
    font-size: 1.1em;
}
.address-section label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    font-size: 1em;
    color: #686868;

}

.address-section input[type="radio"] {
    margin-right: 5px; 
    width: 10%;
    
}

.address-form{
    padding: 20px;
    background-color: #ffffff;
    margin: 10px auto;
    border-radius: 8px;
    border: 1px solid #ddd;
    border-color: #e52e71;
    font-family: Arial, Helvetica, sans-serif;
}
.pay-form{
    padding: 20px;
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 8px;
    border: 1px solid #ddd;
    border-color: #ee8ea1;
}
/* chi tiết */
.order-summary {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    overflow: hidden;
}

/* Order Summary */
.order-summary h3 {
    text-decoration: underline;
    font-size: 1.2em;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.cart-item {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    align-items: flex-start;
    justify-content: space-between;
}

.cart-item .product-image {
    width: 10px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.item-info {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-info p {
    margin: 0;
    margin-bottom: 10px;
}

.item-info .product-quantity,
.item-info .product-price {
    margin-right: 10px;
    font-size: 0.9;
}

.product-name {
    font-size: 1.1em;
    font-weight: bold;
    color: #444;
    
}

.details-btn {
    padding: 4px 8px;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    background-color: #ee8ea1;
    color: white;
    border: none;
    align-self: flex-end;
    margin-top: auto;
}

.details-btn:hover {
    background-color: #e52e71;
}

.order {
    padding: 8px 16px;
    font-size: 1.2em;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: #ee8ea1;
    color: white;
    border: none;
}

.order:hover {
    background-color: #e52e71;
}

.total-price {
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.hidden {
    display: none;
}

/* Select Styling */
select {
    appearance: none;
}
.defaultAddressText {
    margin-bottom: 10px; /* Space between each address line */
}