.cart-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 3em;
}

.cart-container h2 {
    font-size: 2.0em;
    margin-top: 10px;
    margin-bottom: 50px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cart-item {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbeaee;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
    padding: 1em;
}

.cart-item img {
    width: 120px;
    height: auto;
    border-radius: 8px;
}

.cart-item h3 {
    font-size: 1.2em;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-info {
    flex-grow: 1;
    text-align: left;
    margin-left: 1.5em;
}

.item-controls {
    display: flex;
    gap: 1em;
    align-items: center;
}

.item-controls button {
    padding: 8px 12px;
    background-color: #ee8ea1;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
}

.item-controls button:hover {
    background-color: #e52e71;
}

.item-controls input[type="number"] {
    width: 60px;
    height: 40px;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
}

.details-btn {
    padding: 8px 12px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: #ee8ea1;
    color: white;
    border: none;
    align-self: flex-end;
    margin-top: auto;
    margin-right: 30px;
}

.details-btn:hover {
    background-color: #e52e71;
}

.checkout {
    margin-top: 3em;
}

.checkout-btn {
    padding: 0.5em 1.5em;
    background-color: #ee8ea1;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.8em;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #e52e71;
}

.cart-item {
    position: relative;
    padding-left: 50px;
}

.select-item {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #fffce1;
    border: 2px solid #ee8ea1;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.select-item:checked {
    background-color: #ee8ea1;
    border-color: #e52e71;
}

.select-item:checked::after {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
}
