.cart-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}
.cart-container h2 {
    font-size: 1.8em;
    margin-top: 5px;
    margin-bottom: 40px;
}
.cart-items {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.cart-item {
    width:700px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffce1;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    width: 100px;
    border-radius: 8px;
}

.cart-item h3{
    font-size: 1.1em;
    /* Cắt ngắn tên sp */
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-info {
    flex-grow: 1;
    text-align: left;
    margin-left: 1em;
}

.item-controls {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.item-controls button {
    padding: 4px 8px;
    background-color: #ee8ea1;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
}

.item-controls button:hover {
    background-color: #e52e71;
}

.item-controls input[type="number"] {
    width: 50px;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.details-btn {
    padding: 5px 8px;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: #ee8ea1;
    color: white;
    border: none;
    align-self: flex-end;
    margin-top: auto;
    margin-right: 20px;
}

.details-btn:hover {
    background-color: #e52e71;
}

.checkout {
    margin-top: 2em;
}

.checkout-btn {
    padding: 0.5em 1.5em;
    background-color: #ee8ea1;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.5em;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #e52e71;
}


.cart-item {
    position: relative;
    padding-left: 40px; /* Tạo khoảng trống cho checkbox */
}

.select-item {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

